.title {
	background: #fff;
	text-align: center;
	padding: 10px;
	font-size: 20px;
}

.wrapper {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -100px; 
	background-size: 100%;
}
.wrapper:after {
	content: "";
	display: block;
}
.question {
	text-align: center;
	font-size: 20px;
}

.footer, .wrapper:after {
  /* .push must be the same height as footer */
  	height: 100px; 
}
.footer {
	background-color: orange;	
}
