<div class="slide about down hidden-xs">
	<div class="about">
		<a class="btn btn-xs btn-default" href="#">About</a>
	</div>
	<div class="wrapper">
		<p>Politinder helps you find your political date for European election night. You tell the app your opinion and it shows you the faces of candidates. Like Hotornot in the old days or the infamous Tinder you tap or click your way through the election list. You will encounter a lot of unfamiliar faces from other countries. It's good to become acquainted with them. They will be sitting and voting with the same parliamentary group as your guys.</p>

		<p>It's an ironic sideswipe (this pun intentionally left bland) aiming at political campaign ads. But it also tries to identify a couple of polarizing European political issues that might help you figure out what the elections are about.</p>

		<p>Playing Politinder is a civic duty. Now enjoy yourself! And go vote on 22-25 May!</p>

		<p>Built by J++'s <a href="https://twitter.com/vied12" target="_blank">Edouard Richard</a>, <a href="https://twitter.com/jensfinnas" target="_blank">Jens Finnäs</a>, and <a href="https://twitter.com/sm_kraus" target="_blank">Sebastian Kraus</a>, <a href="https://twitter.com/grensund" target="_blank">Peter Grensund, and <a href="https://twitter.com/leo_wallentin" target="_blank">Leonard Wallentin</a> at #Fajkhack, Stockholm. Candidate lists are created from various data sources, candidate positions are based on European parliamentary groups they belonged or will belong to. They are constructed from manifestos, speeches, debates and <a href="http://www.votewatch.eu/" target="_blank">Votewatch.eu</a> data. Grab the code on <a href="https://github.com/jplusplus/politinder" target="_blank">github/jplusplus</a></p>
	</div>
</div>
