<div class="slide informations hidden">
	<div class="wrapper">
		<div class="title"><h1>Politinder</h1></div>
		<div class="row information-wrapper">
			<div class="illustration col-xs-6">
				<img src="" class="img-thumbnail" style="width:100%;">
				</div>
				<div class="informations col-xs-6">
					<dl>
					</dl>
				</div>
			</div>

			
		</div>

		<div class="actions row">
			<a class="btn btn-lg btn-success col-xs-12" href="#">
				Continue <span class="glyphicon glyphicon-chevron-right"></span> 
			</a>
		</div>
	</div>
</div>
