<div class="modal" id="match-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h1 class="modal-title" id="myModalLabel">It's a match!</h1>
	  </div>
	  <div class="modal-body">
		<div class="candidate__illustration"></div>
		<span class="candidate__name">[CANDIDATE NAME]</span> shares most of your opinions.
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn no btn-danger" data-dismiss="modal">Maybe not</button>
		<button type="button" class="btn yes btn-success">Tell me more</button>
	  </div>
	</div>
	</div>
</div>