<div class="slide panel template">
	<div class="wrapper">
		<div class="title"><h1>Politinder</h1></div>

		<div class="illustration" style="background-image: url('{{ url_for("static", filename="pics/test.jpg") }}');">
		</div>

		<div class="actions row">
			<div class="question">
				Would you date Random Guy?
			</div>

			<a class="btn no btn-lg btn-danger col-xs-6" href="#">
				<span class="glyphicon glyphicon-remove"></span> No 
			</a>
			<a class="btn yes btn-lg btn-success col-xs-6" href="#">
				<span class="glyphicon glyphicon-ok"></span> Yes 
			</a>
		</div>
	</div>
</div>
